<template>
  <div id="app">
    <nav>
      <ul>
        <li>
          <routerLink to="/">Link 4</routerLink>
        </li>
        <li>
          <routerLink to="/login">login</routerLink>
        </li>
        <li>
          <routerLink to="/register">Register</routerLink>
        </li>
        <li>
          <routerLink to="/school-manager">school Manager</routerLink>
        </li>
      </ul>
    </nav>
    <router-view></router-view>
  </div>
</template>

<script>

export default {
  name: 'app',
  components: {
    
  }
}
</script>

<style>
  nav li
  {
    width: 200px;
    display: inline-block;
  }
</style>
