<template>
    <div>
        <div class="top-nav" id="top-nav">
            Hello
        </div>
        <div class="test" id="test"></div>
        <div class="body">

        </div>
    </div>
</template>
<script>
export default {
    mounted () {
        this.$("#test").hover(
            () => {
                this.$('#top-nav').addClass('yes1')
            }, 
            () => { 
                this.$('#top-nav').removeClass('yes1')
            }
        ); 
        this.$('#top-nav').hover(
            ()=>{
                this.$('#top-nav').addClass('yes1')
            },
            ()=>{
                this.$('#top-nav').removeClass('yes1')
            }
        )
    }
}
</script>
<style scoped>
    .top-nav
    {
        height: 30px;
        background-color: grey;
        margin-top: -30px;
        position: fixed;
        top: 0;
        width: 100%;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    }
    .yes1
    {
        margin-top: 0;
    }
    .test
    {
        height: 1px;
    }
    .body
    {
        background-size: cover;
        height: calc(100vh - 1px);
        background-image: url('../assets/367288.jpg');
    }
</style>