<template>
  <div id="app">
    <router-view></router-view>
  </div>
</template>

<script>
export default {
  name: 'app',
  components: {
    
  },
  data(){
    return {
      session: 'No'
    }
  }
}
</script>

<style>
  *
  {
    font-family: 'Lato',sans-serif;
  }
</style>
